@import './abstracts/variables';
@import './abstracts/mixins';
@import './core/typography';
@import './animations/new-feed-card';
@import './animations/out-of-cards';
@import './animations/profile';
@import './animations/swipe_on_button';
@import './animations/swipe_touch';
@import './components/form';
@import './components/carousel';
@import './components/out-of-cards';
@import './components/add-img';
@import './components/tags';
@import './components/buttons';
@import './components/crit-error';
@import './pages/likes';
@import './pages/feed';

@import './layout/header';

@import './core/reset.scss';
@import './components/card-expand';
@import './components/tapbar';
@import './components/login-error';
@import './components/link';
@import './pages/login';

html {
  @include background;
  font-family: $font-default;
}


.card-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
  }

@media (min-width: 500px) {
  .card-container {
    
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
  
  }

  .form-container {
    
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
   
  }
}
























