@import './variables';
body {
    background: linear-gradient(100deg, #e700ff, #0600ff);
}

@media (min-width: 500px) {
    body {
        max-width: 500px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@mixin centered {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@mixin card-default($width, $height, $top) {
    position: absolute;
    background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(226, 246, 255, 0.2) 0%, rgba(0, 165, 245, 0) 100%);
    backdrop-filter: blur(20px);
    border-style: solid;
    border-color: white;
    border-width: $border-width-default;
    border-radius: $border-radius-default;
    width: $width;
    height: $height;
    top: $top;
    @include centered;
}

.card {
    @include card-default(95%, 80%, 5%);
}

.card2 {
    @include card-default(90%, 75%, 12%)
}

.card3 {
    @include card-default(85%, 70%, 19%)
}



.tapbar-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 90%;
    height: 5%;
    bottom: 3%;
    justify-content: space-between;
    @include centered;
}

.name {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 200%;
    overflow: hidden;
    font-weight: 500;
}

.name-container {
    display: flex;
    margin-left: 5%;
}

.age {
    color: white;
    margin-left: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 200%;
    overflow: hidden;
}

.bottom-panel {
    position: absolute;
    background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(226, 246, 255, 0.2) 0%, rgba(0, 165, 245, 0) 100%);
    width: 95%;
    height: 20%;
    bottom: 3%;
    @include centered;
    backdrop-filter: blur(5px) brightness(80%);
    border-style: solid;
    border-color: white;
    border-width: $border-width-default;
    border-bottom-left-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;
    display: flex;
    flex-direction: column;
}

.actions-container {
    width: 50%;
    height: 10%;
    justify-content: space-between;
    display: flex;
    @include centered;
    margin-top: 3%;
}

.card-main {
    border-radius: $border-radius-default;
    width: 95%;
    height: 95%;
    @include centered;
    margin-top: 10px;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius-default;
}

.menu-icon {
    border: 0px solid black;
    background-color: transparent;
}

@keyframes spin2 {
    0% {}
    100% {
        transform: translate(0px, 0px);
    }
}


@keyframes liked {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.01;
    }
}

@keyframes appearance {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

@keyframes shrinkSecondary {
    100% {
        width: 90%;
        height: 75%;
        top: 12%;
    }
}

@keyframes shrinkThird {
    100% {
        width: 85%;
        height: 70%;
        top: 19%;
    }
}