.profile-in-chat {
  height: 100%;
  width: 100%;
  max-width: $max-width;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.profile {
  height: 100%;
  width: 100%;
  max-width: $max-width;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.profile__manager {
  flex: 0 0 auto;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  margin: $margin-small $margin-medium;
}

.profile__action {
  width: 24px;
  height: 24px;
}

.profile__card {
  width: 100%;
  flex: 1 1 auto;

  overflow: scroll;
}

.profile__tapbar {
  width: 100%;
  flex: 0 0 auto;
}
