$chat-header-height: 72px;

.app__chat {
  height: 100%;
  width: 90%;
  overflow: hidden;
}

.chat {
  display: flex;
  flex-direction: column;

  align-items: center;

  height: 100%;

  width: 90%;
  overflow: hidden;
}

.chat__header {
  flex: 0 0 auto;

  display: flex;
  align-items: center;

  width: 100%;

  border-radius: 12px;

  background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(226, 246, 255, 0.4) 0%, rgba(0, 165, 245, 0) 100%);
  backdrop-filter: blur(20px);

  margin-top: $margin-small;
}

.chat__button-back {
  width: 12px;
  height: 24px;

  padding: 0px 18px;
}

.chat__profile-preview {
  width: 100%;
  margin: $margin-smallest;
}

.chat__messages {
  flex: 1 0 auto;
  width: 100%;
  max-height: calc(100% - $chat-header-height - $input-message-height);
  overflow-y: scroll;
}

.chat__message-input {
  flex: 0 0 auto;
}
