# JetBrains settings
.idea

# Deplayoment keys
ijia.me.crt
ijia.me.key
star.monkeys.team.crt
star.monkeys.team.key
.keys/

# VSCode project settings
.vscode

# Node.js

node_modules

# Golang
go.sum

# Builded files
# typescript--->js
static/js/**
# sass -> css
static/css/**

# brotli
scripts/nginx-1.18.0
scripts/ngx_brotli
scripts/nginx-1.18.0.tar.gz
