# JetBrains settings
.idea

# Deplayoment keys
ijia.me.crt
ijia.me.key
.keys/

# VSCode project settings
.vscode

# Node.js 
package-lock.json
node_modules

# Golang
go.sum

# Builded files
# typescript--->js
static/js/**
# sass -> css
static/css/**
