
textarea:focus,
input:focus {
  outline: none;
}

body {
  margin: 0px;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  transition: background-color 5000s ease-in-out 0s;
}
