@import './typography';

$max-width: 400px;
$max-height: 720px;

textarea:focus,
input:focus {
  outline: none;
}

textarea {
  resize: none;
//   font-family: 'Futura Now Headline Bold';
  border: none;
  background: initial;
}

body {
  margin: 0px;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0;
}

button {
  border: none;
  font-family: $font-default;
}

input {
  border: none;
  background: none;
}
