
$font-size-header: 72px;
$font-size-big: 36px;
$font-size-medium: 24px;
$font-size-small: 18px;
$font-size-tiny: 12px;

$font-default: 'Futura Now Headline Bold';

@font-face {
  font-family: $font-default;
  
  font-style: normal;
  font-weight: normal;
  src: local($font-default), url('../fonts/FuturaNowHeadlineBold.woff') format('woff');
}