@import '../../abstracts/variables';
@import '../form_field';

.add-img-box {
  @include form-field($field-valid-color);
  display: flex;
  flex-wrap: wrap;
  min-height: 72px;
  height: auto;

  // padding-top: 6px;
  padding-bottom: 12px;
}
.add-img__no-photo-text{
  font-size: 24px;
  padding-left: 12px;
  padding-top: 12px;
}
.add-img-box-novalid {
  @include form-field($field-invalid-color);
  min-height: 72px;
  height: auto;
  display: flex;
}

$px_img: $px_big * 2;

.add-img-delete{
  height: 24px;
  width: 24px;
  position: relative;
  top: -96px;
  left: 24px;
  margin-left: 36px;
  border-radius: 8px;
   backdrop-filter: blur(50px) contrast(60%);
  background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(234, 0, 255, 0.274) 0%, rgba(245, 0, 53, 0) 100%);
}

.add-img-item {
  border-radius: 10px;
  margin: 2*$px_base $px_base;
  height: $px_img;
  width: $px_img;
  object-fit: cover;
}
.add-img-img {
  border-radius: 10px;
  margin: $px_base $px_base;
  height: $px_img;
  width: $px_img;
  object-fit: cover;
}
.add {
  position: relative;
  background: url('../icons/add_img.svg');
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-left: 275px;
  top: 20px;
}

.removeImg {
  position: absolute;
  background: url('../icons/remove_img.svg');
  width: 15px;
  height: 15px;
  border-radius: 5px;
  right: 0;
  bottom: 4;
  border: 1px solid #000000;
}

.add-img-box__input-field{
  height: 0;
}
