
.form__element {
  margin: $margin-small 0;

  transition: all 1s;
}

@mixin form-field($color) {
  width: $form-field-width;
  background: $color;
  border-radius: 12px;
}

.form__field {
  @include form-field($field-valid-color);
}

.form__field__invalid {
  @include form-field($field-invalid-color);
}

.field__input {
  font-weight: bold;
  color: white;
  font-size: $font-size-small;

  height: 36px;

  // margin: 0 $margin-small;
  margin-left: $margin-small;
  padding: 0;
}

.field-data {
  display: flex;
  align-items: center;
}

.field-data__icon {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 3px;
}

@mixin field-data ($width) {
  margin-left: $margin-smallest;
  width: $width;
  text-align: center;
}

.field-data__day {
  @include field-data(24px);
}

.field-data__month {
  @include field-data(24px);
}

.field-data__year {
  @include field-data(48px);
}

.field-gender {
  display: flex;
  align-items: center;
}

.field-gender__title {
  margin: 0 $margin-small;
}

.field-gender__tag {
  width: 60px;
  margin: $margin-small;
}

.field-description {
  display: flex;
  flex-direction: column;
}

.field-description__text {
  height: 144px;
  width: calc(100% - 2 * $margin-small);
  font-weight: bold;
  color: white;
  font-size: $font-size-tiny;

  margin: $margin-small;
  padding: 0;
}

.box {
  display: flex;
  flex-direction: column;
}

.box__title {
  margin: $margin-small;

  display: flex;
  justify-content: space-between;
}

.box__title-text {
  color: white;
  font-size: $font-size-small;
  white-space: nowrap;
}

.box__title-icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
  animation: 0.3s linear 0s normal none 1 running rot;
}

.box__title-icon__shrink {
  height: 18px;
  width: 18px;
  cursor: pointer;
  animation: 0.3s linear 0s normal none 1 running rot-back;
}

@keyframes rot {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rot-back {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box__body {
  display: flex;
}

.box__body__slide {
  height: 82px;
  opacity: 1;
  transition: height 0.3s, opacity 0.5s;
}

.box__body__slide:empty {
  height: 0px;
  opacity: 0;
}

.field__tags {
  margin: 0 $margin-small $margin-small;

  flex-wrap: wrap;
  justify-content: start;
}

.field__tag {
  margin: $margin-smallest;
}

.field__prefers {
  margin: 0 $margin-small $margin-small;

  justify-content: space-around;
}
