.feed {
  height: 100%;
  width: 100%;
  max-width: $max-width;
  
  display: flex;
  flex-direction: column;
}

.feed__card {
    flex: 1 1 auto;
    margin: $margin-small;
}

.feed__profile {
  margin-top: $margin-small;
}

.feed__tapbar {
  width: 100%;
  flex: 0 0 auto;
}
