@import '../../core/typography';

// $card-expanded-default-width: 360px;
// $card-expanded-default-height: 600px;
// $card-expanded-img-default-height: 384px;

$card-expanded-default-width: 100%;
$card-expanded-default-height: 100%;
$card-expanded-img-default-height: 100%;

.card-wide {
    display: flex;
    align-items: center;
}


@media (max-height: 960px) {
    .card{
    max-height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: $card-expanded-default-width;
    height: $card-expanded-default-height;

    background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(226, 246, 255, 0.4) 0%, rgba(0, 44, 65, 0) 100%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: $border-radius-default;
    }
}
@media (min-height: 960px) {
    .card{
    max-height: 720px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: $card-expanded-default-width;
    height: $card-expanded-default-height;

    background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(226, 246, 255, 0.4) 0%, rgba(0, 44, 65, 0) 100%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: $border-radius-default;
    }
}


.card-bottom-panel{
    position: absolute;
    height: 144px;
    width: 100%;
    bottom: 0px;
    backdrop-filter: blur(20px);
    background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(226, 246, 255, 0.2) 0%, rgba(0, 165, 245, 0) 100%);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.card-bottom-panel__name {
    display: flex;
    justify-content: start;
    gap: 12px;
    margin-left: 12px;
    align-items: baseline;
}

.card-bottom-panel__name__name {
    font-size: $font-size-big;
    font-weight: bold;
}

.card-bottom-panel__name__age {
    font-size: $font-size-medium;
}

.card-bottom-panel_actions {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-bottom-panel_actions_action {
    margin: 12px;
    height: 36px;
    width: 36px;
}
