.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel-slide {
  position: absolute;
  height: 95%;
  width: 95%;
}
.carousel-slide-expand {
  position: absolute;
  height: 80%;
  width: 95%;
}

@media (max-aspect-ratio: 10/10) {
  .carousel-nav__arrows {
    width: 100%;

    position: absolute;

    display: flex;
    justify-content: space-between;
  }
}

@media (min-aspect-ratio: 10/10) {
  .carousel-nav__arrows {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 375px;
    position: absolute;
    top: 25%;
  }
}

.side-big {
  top: 50%;
}

.side-small {
  top: 20%;
}

.carousel-button-nav {
  height: 3px;
  top: 50%;
  background: black;
  flex-grow: 1;
  border-radius: 12px;
  filter: invert(1) grayscale(1) brightness(0.5);
  margin: 0 3px;
  transition: filter 0.3s;
}

.carousel-button-nav.current-slide {
  height: 3px;
  top: 50%;
  background: black;
  filter: invert(1) grayscale(1) brightness(1);
}

.carousel-nav {
  position: absolute;
  top: 0;
  left: 3px;
  width: 95%;
  display: flex;
  justify-content: center;
  margin: 6px;
}

.carousel-nav__left {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.carousel-nav__right {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card__img {
  object-fit: cover;
  width: 100%;
  border-radius: 12px;
  height: 100%;
}

.carousel-button-left {
  padding: $margin-small;
  width: 24px;
  height: 24px;
}

.carousel-button-right {
  padding: $margin-small;
  width: 24px;
  height: 24px;
}
