$icon-size-big: 36px;

.report-window{
  position: absolute;
  z-index: 1;

  width: 94%;
  height: 100%;

  background: linear-gradient(110.48deg, rgba(219, 0, 255, 0.7) 1.23%, rgba(255, 143, 244, 0.7) 8.85%, rgba(0, 133, 255, 0) 91.43%, rgba(0, 126, 187, 0) 98.8%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-radius: 12px;

  margin: 0px $margin-small;
  overflow-y: scroll;
}

.report-window_hidden{
  visibility: hidden;
}

.report-window__button-back{
  width: $icon-size-big;
  height: $icon-size-big;

  margin-left: 24px;
  margin-top: 36px;
}

.report-window__problems-buttons{
    margin-top: 12px;
}
