$span-line-height: 42px;
$max-width: 400px;

$match-min-height: 114px;

.chats {
  height: 100%;
  width: 100%;
  max-width: $max-width;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chats__search {
  width: 100%;
  flex: 0 0 auto;
}

.chats__search-form {

}

.chats__matches {
  width: 100%;
  flex: 0 0 auto;
}

.chats__matches-header {
  font-size: $font-size-medium;
  line-height: $span-line-height;

  color: #FFFFFF;

  margin-left: $margin-medium;
}

.chats__matches-profiles {
  min-height: $match-min-height;
  display: flex;
  flex-direction: row;

  overflow-x: scroll;

  margin-left: $margin-medium;
}

.chats__chats {
  width: 100%;
  flex: 1 1 auto;
  min-height: $span-line-height;
  display: flex;
  flex-direction: column;
}

.chats__chats-header {
  flex: 0 0 auto;
  font-size: $font-size-medium;
  line-height: $span-line-height;

  color: #FFFFFF;

  margin-left: $margin-medium;
}

.chats__chats-list {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.chats__tapbar {
  width: 100%;
  flex: 0 0 auto;
}
