$chats-preview-width: 326px;
$chats-preview-height: 66px;

$chat-img-size: 54px;
$chat-img-border-radius: 27px;

.chats-preview{
  display: flex;
  flex-direction: row;
  align-items: center;

  min-height: $chats-preview-height;

  margin: 0px $chats-margin_left 12px $chats-margin_left;

  background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(226, 246, 255, 0.4) 0%, rgba(0, 165, 245, 0) 100%);
  backdrop-filter: blur(20px);

  border-radius: 12px;
}

.chats-preview__user-img{
  width: $chat-img-size;
  height: $chat-img-size;

  border-radius: $chat-img-border-radius;

  object-fit: cover;
  -o-object-fit: cover;

  margin-left: 12px;
}

.chats-preview__user-info{
  display: flex;
  flex-direction: column;

  margin-left: 6px;

  overflow: hidden;
}

.chats-preview__user-name{
  font-size: $font-size-small;
  line-height: 24px;

  color: #FFFFFF;
}

.chats-preview__last-message{
  font-size: $font-size-tiny;
  line-height: 24px;

  color: #FFFFFF;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
