$profile-photo-size: 96px;
$profile-size: 126px;

.match-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: $profile-photo-size;
  height: $profile-size;

  margin-right: $margin-smallest;
  padding-left: 6px;
}

.match-profile__match-img {
  width: $profile-photo-size;
  height: $profile-photo-size;

  -o-object-fit: cover;
  object-fit: cover;

  border-radius: $border-radius-default;
  border: 3px solid transparent;
}

.match-profile__match-img_bordered {
  animation: anim 20s infinite;
  filter: drop-shadow(0 0 3px $dark-purple) drop-shadow(0 5px 4px $light-pink)
		drop-shadow(2px -2px 5px $dark-blue)
		drop-shadow(0 0 3px $light-blue);
}

.match-profile__match-name {
  font-size: $font-size-tiny;

  color: #ffffff;

  margin-top: 6px;
}

@keyframes anim {
	0%,
	100% {
		border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
	}

	10% {
		border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
	}

	20% {
		border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
	}

	30% {
		border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
	}

	40% {
		border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
	}

	50% {
		border-radius: 100%;
	}

	60% {
		border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
	}

	70% {
		border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
	}

	80% {
		border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
	}

	90% {
		border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
	}
}
