.view-content__matches{
  max-width: 100%;
}

.view-content__matches-header{
  font-size: $font-size-medium;
  line-height: 42px;

  color: #FFFFFF;

  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
}

.view-content__matches-profiles{
  display: flex;
  flex-direction: row;

  overflow-x: scroll;

  margin-left: 24px;
}

.view-content__chats{
  width: 100%;
}

.view-content__chats-header{
  font-size: $font-size-medium;
  line-height: 42px;

  color: #FFFFFF;

  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
}

.view-content__chats-list{

  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  margin-left: 24px;



  max-height: 80%;
//   overflow-y: scroll;
//   display: flex;
//   flex-direction: column;
//   height: 390px;

//   margin-left: 24px;
}
