.view-content__matches{
  max-width: 100%;
}

.view-content__matches-header{
  font-size: $font-size-medium;
  line-height: 42px;

  color: #FFFFFF;

  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
}

.view-content__matches-profiles{
  display: flex;
  flex-direction: row;

  overflow-x: scroll;

  margin-left: 24px;
}

.view-content__chats{
  width: 100%;
  max-height: 60%;
  overflow-y: scroll;
}

.view-content__chats-header{
  font-size: $font-size-medium;
  line-height: 42px;

  color: #FFFFFF;

  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
}
