.view-contant{
  display: flex;
  flex-direction: column;
}

.view-contant_align_center{
  align-items: center;
}

.likes-view-header{
  width: 288px;
  
  font-size: $font-size-medium;
  line-height: 42px;
  
  color: #FFFFFF;
  
  margin-top: 48px;
  margin-bottom: 36px;
  margin-left: 24px;
}

.likes-view-cards{
  display: flex;
  flex-direction: row;

  overflow-x: scroll;
  
  margin-left: 24px;
}
