.likes {
  height: 100%;
  width: 100%;
  max-width: $max-width;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.likes__profile {
  margin-top: $margin-small;
}

.likes__likes-header{
  width: 100%;
  flex: 0 0 auto;
}

.likes__likes-profile{
  width: 100%;
  flex: 1 1 auto;
}

.likes-view-header{
  width: 288px;

  font-size: $font-size-medium;
  line-height: 42px;

  color: #FFFFFF;

  margin-top: 48px;
  margin-bottom: 36px;
  margin-left: 24px;
}

.likes-view-cards{
  display: flex;
  flex-direction: row;

  overflow-x: scroll;

  margin-left: 24px;
}

.likes__tapbar {
  width: 100%;
  flex: 0 0 auto;
}
