
div.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.drip-logo-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 300px;
  background: url(../icons/drip.svg) no-repeat center center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translateY();
  height: 32px;
  width: 32px;
}
