

.form__field__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translateY();
  height: 32px;
  width: 32px;
}
