.view-content__profile-actions{
  width: 100%;
  flex: 1 0 auto;

  display: flex;
  align-items: flex-end;
}

.profile-actions{
  width: 100%;
  margin: $margin-small $margin-medium;
  display: flex;
  justify-content: space-between;
}

.view-contant__dislike{
  width: 24px;
  height: 24px;
}
