.view-content__profile-actions{
  width: 100%;
  flex: 0 0 auto;
}

.profile-actions{
  margin: $margin-small $margin-medium;
  display: flex;
  justify-content: space-between;
}

.view-contant__dislike{
  width: 24px;
  height: 24px;
}
