.flex_box_column_center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex_box_row_left {
    display: flex;
    align-items: start;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.overflow-hidden {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}