.flex-center {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-full-height {
  display: flex;
  height: 100%;
}

.flex-wide-view-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wide-view-content {
  display: flex;
  flex-direction: column;
  height: 610px;
}

.flex-wide-feed {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  height: 720px;
}

.flex-wide-likes {
  display: flex;
  flex-direction: column;
  height: 610px;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
