$chat-header-width: 326px;
$chat-header-height: 66px;

$chat-header-size: 54px;
$chat-header-border-radius: 27px;

$chat-header-img-size: 48px;

.chat-header{
  display: flex;
  flex-direction: row;
  align-items: center;

  width: $chat-header-width;
  height: $chat-header-height;

  border-radius: 12px;

  background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(226, 246, 255, 0.4) 0%, rgba(0, 165, 245, 0) 100%);
  backdrop-filter: blur(20px);

  margin-top: 24px;
}

.chat-header__button-back{
  width: 12px;
  height: 24px;

  margin-left: 18px;
}

.chat-header__profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-header__user-img{
  width: $chat-header-img-size;
  height: $chat-header-img-size;

  border-radius: $chat-img-border-radius;

  object-fit: cover;
  -o-object-fit: cover;

  margin-left: 24px;
}

.chat-header__user-name{
  font-size: $font-size-small;
  line-height: 24px;
  
  color: #FFFFFF;

  margin-left: 12px;
}
