@import './form_field';

.form__item__list-valid{
    @include form-field($field-valid-color);
    flex-direction: column;
    height: auto;
}

@mixin listItem($deselected: false){
    width: 66px;
    height: 24px;
    border: 1px solid white;
    font-size: 12px;
    text-align: center;
    border-radius: 12px;
    margin: 12px;
    @if $deselected {
        color: #CDCDCD;
        border-color: #CDCDCD;
    }
}

.list-item-selected{
    @include listItem();
}


.list-item-deselected{
    @include listItem(true);
}