.signup-link {
  padding-top: 5%;
  color: #ffffff;
  text-shadow: 1px 1px 1px #555555;
}

.signup-link:hover {
  position: relative;
  top: 2px;
  left: 2px;
}

.login-link {
  padding-top: 5%;
  color: #ffffff;
  text-shadow: 1px 1px 1px #555555;
}

.login-link:hover {
  position: relative;
  top: 2px;
  left: 2px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin: 0 20px;
  font-size: $font-size-medium;
  transition: 0.3s ease-in-out;
}