.login-error {
  color: red;
  display: none;
}

.login-error-active {
  display: block;
  margin-top: 5%;
  width: 65%;
  padding-top: 3%;
  font-size: $font-size-small;
  color: rgb(226, 83, 83);
  text-align: center;
}
