
.out-of-cards {
    color: white;
    font-size: $font-size-medium;
    width: 70%;
    height: 70%;
}

.out-of-cards-sign {
  text-align: center;
  position: fixed;  
}

.out-of-cards-drip-2 {
 position: fixed;
  animation: floating1 4s  infinite;
  
}
.out-of-cards-drip-1 {
 position: fixed;
  animation: floating2 6s infinite;
}
.out-of-cards-drip-3 {
 position: fixed;
  animation: floating3 8s infinite;
  
}