.payment-card{
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  
  background: radial-gradient(112.16% 418.59% at 0% 0%, 
                            rgba(226, 246, 255, 0.4) 0%, 
                            rgba(0, 165, 245, 0) 100%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  
  border-radius: 12px;

  margin: 6px 0px;
}

.payment-card_active{
  background: $light-pink;

  // background: linear-gradient(93.2deg, 
  //                           rgba(255, 6, 0, 0.6) -13.16%, 
  //                           rgba(167, 0, 199, 0.6) 4.16%, 
  //                           rgba(37, 65, 219, 0.6) 72.87%, 
  //                           rgba(74, 147, 255, 0.6) 90.72%);
}

.payment-card__desciption{

}

.payment-card__period{
  text-align: start;

  font-size: 14px;

  color: #FFFFFF;

  margin-top: 36px;
  margin-bottom: 12px;
}

.payment-card__price{
  text-align: start;

  font-size: 14px;

  color: #FFFFFF;

  margin-bottom: 36px;
}

.payment-card__img{
  width: 96px;
  height: 96px;
}
