$icon-size-small: 18px;

.search-form{
  display: flex;
  margin-left: 24px;
  margin-top: 24px;
}
.search-form__input{
  position: relative;
  width: 312px;
  height: 30px;
  
  padding-left: 12px;
  
  background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(226, 246, 255, 0.4) 0%, rgba(0, 165, 245, 0) 100%);
  backdrop-filter: blur(20px);
  
  border-radius: 12px;
  border: 0px;
  
  color:white;
  font-size: $font-size-tiny;
}
.search-form__icon{
  position: absolute;
  
  width: $icon-size-small;
  height: $icon-size-small;
  
  top: 32px;
  left: 312px;
}
