@import '../abstracts/variables';







.tag-edit {
  background: linear-gradient(96.78deg, rgba(196, 196, 196, 0.4) -7.45%, rgba(196, 196, 196, 0) 105.39%);
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4%;
  padding: 2;
  backdrop-filter: blur(8px);
  font-size: $font-size-big;
}

.checkbox-btn {
  display: inline-block;
  margin: 0 5px 0 0;
  user-select: none;
  position: relative;
}
.checkbox-btn input[type='checkbox'] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.checkbox-btn span {
  display: inline-block;
  cursor: pointer;
  padding: 0px 10px;
  line-height: 30px;
  border: 1px solid #ffffff;
  border-radius: $border-radius-default;
  transition: background 0.2s ease;
  color: #ffffff;
}

/* Checked */
.checkbox-btn input[type='checkbox']:checked + span {
  background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(17, 0, 255, 0.274) 0%, rgba(0, 165, 245, 0) 100%);
  /* background: #ffe0a6; */
}

/* Focus */
.focused span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Hover */
.checkbox-btn:hover {
  color: #666;
}

/* Active */
.checkbox-btn input[type='checkbox']:active:not(:disabled) + span {
  /* background: #d2c5ac; */
  background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(17, 0, 255, 0.274) 0%, rgba(0, 165, 245, 0) 100%);
  color: #ffffff;
}

/* Disabled */
.checkbox-btn input[type='checkbox']:disabled + span {
  background: #efefef;
  color: #666;
  cursor: default;
}
.checkbox-btn input[type='checkbox']:checked:disabled + span {
  background: #f7efdc;
}



.column-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: $px_small;
}

.tags-header {
  height: $field-default-height;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-big;
  line-height: $px_big;
  color: #ffffff;
  display: flex;
  padding-top: $px_small;
  padding-left: $px_small;
  gap: $px_small;
}

.tag-container {
 
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background: radial-gradient(112.16% 418.59% at 0% 0%, rgba(17, 0, 255, 0.274) 0%, rgba(0, 165, 245, 0) 100%);
  backdrop-filter: blur(5px);
  backdrop-filter: contrast(60%);
  border-radius: 20px;
  width: $field-default-width;
}

.tags-button {
  width: 40px;
  height: 40px;
	border: none;
	padding: 0;
	outline: inherit;
  background: url('../icons/button_expand_white.svg');
}