.view-content__tapbar{
  width: 100%;
  flex: 0 0 auto;
}

.tapbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tapbar_item {
    height: 36px;
    width: 36px;
    margin: 12px
}
