$tapbar-height: 66.4px;

.tapbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tapbar_item {
  height: 36px;
  width: 36px;
  margin: 12px;
}

.tapbar-vertical {
  flex-direction: column;
  width: 360px;
  margin-top: 96px;
  margin-left: 48px;
  justify-content: start;
}

.tapbar_item-small {
  height: 24px;
  width: 24px;
}
