<body id="root">
    <form class="edit-form">
        {{#each fields}}
        <div class="inputEdit">
            <input type="{{fieldType}}" class="{{fieldClass}}">
        </div>
        {{/each}}
        <div class="edit-tags">
            Tags:
            <button type="button" id="addID" class="add-active">
            </button>
            <span class="msg"></span> 
        </div>
        <div class="inputEdit">
            {{!-- <div class="tag-container-edit" id="tagsID">
            </div> --}}
            <div class="container">   
                <div class="dropdown-disactive">
                    <div class="select">
                        <span>Select Tags</span>
                    </div>
                    {{!-- <input type="hidden" name="gender"> --}}
                    <ul class="dropdown-menu">
                        {{#each tags}}
                            <li>{{tagText}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="selectBox">
        </div>
        <div class="inputEdit">
            <div class="im-container">
                <div style="position: relative;">
                    <img src="../img/Elon_Musk_2015.jpg" class="im">
                    <button class="removeImg"></button>
                </div>
                <div style="position: relative;">
                    <img src="../img/Elon_Musk_2015.jpg" class="im">
                    <button class="removeImg"></button>
                </div>
                <div style="position: relative;">
                    <img src="../img/Elon_Musk_2015.jpg" class="im">
                    <button class="removeImg"></button>
                </div>
            </div>
            <button class="add"></button>
        </div>
        <button type="submit" class="login-button">
            <div class="center-container">
                <span class="edit-button-text">Сохранить</span>
                <img src="../icons/button_next_black.svg" class="svg-next-edit">
            </div>
        </button>
    </form>
</body>