<body id="root">
    <div class="card-container">
        <div class="center-container">
            <span class="login-header">Войти</span>
        </div>
        <div class="center-container">
            <form class="login-form">
                <div class="drip-logo-bg">
                    <div class="input-with-icon"><input type="email" name="email" placeholder="Почта"
                            class="form-field-valid" /><img src="icons/email.svg" class="input-icon" /></div>
                    <div class="login-error">Введите пароль в формате example@drip.com</div>
                    <div class="input-with-icon"><input type="password" name="password" placeholder="Пароль"
                            class="form-field-valid" /><img src="icons/password.svg" class="input-icon" /></div>
                    <div class="login-error">
                        Пароль должен состоять из больших, маленьких латинских символов, цифр
                        и спец символа</div>
                </div>
                <div class="login-error">Вы еще не
                    зарегистрированы</div><button type="submit" class="login-button">
                    <div class="center-container"><span class="login-button-text">Войти</span><img /></div>
                </button>
            </form>
        </div>
        <div class="center-container"><a class="reg-link" href="/signup" data-section="signup">Зарегистрироваться</a>
        </div>
    </div>
</body>