<body id="root">
    <div class="card-container">
        <div class="center-container">
            <span class="login-header">Зарегистрироваться</span>
        </div>
        <div class="center-container">
            <form class="login-form">
                <div class="drip-logo-bg">
                    <div class="input-with-icon"><input type="email" name="email" placeholder="Почта"
                            class="form-field-valid" /><img src="icons/email.svg" class="input-icon" />
                    </div>
                    <div class="login-error" id="emailError"></div>
                    <div class="input-with-icon"><input type="password" name="password" placeholder="Пароль"
                            class="form-field-valid" /><img src="icons/password.svg" class="input-icon" />
                    </div>
                    <div class="login-error" id="passwordError"></div>
                    <div class="input-with-icon"><input type="password" name="repeatPassword" placeholder="Повторите пароль"
                            class="form-field-valid" /><img src="icons/password.svg" class="input-icon" />
                    </div>
                    <div class="login-error" id="repeatPasswordError"></div>
                </div>
                <div class="login-error" id="formError"></div>
                <button type="submit" class="signup-button">
                    <div class="center-container">
                        <span class="signup-button-text">Зарегистрироваться</span>
                        <img />
                    </div>
                </button>
            </form>
        </div>
        <div class="center-container">
            <a class="back-link" href="/login" data-section="login">
                <div class="center-container">
                    <img class="back-svg" src="icons/back.svg">
                    <span class="back-text">вернуться назад</span>
                </div>
            </a>
        </div>
    </div>
</body>