<button class="menu-icon">
    <img
      src="icons/tapbar_feed_white_deselected.svg"
      width="40"
      height="40"
      class="menu-feed"
    />
  </button>
  <button class="menu-icon">
    <img
      src="icons/tapbar_likes_white_selected.svg"
      width="40"
      height="40"
      class="menu-likes"
    />
  </button>
  <button class="menu-icon">
    <img
      src="icons/tapbar_chat_white_deselected.svg"
      width="40"
      height="40"
      class="menu-chat"
    />
  </button>
  <button class="menu-icon">
    <img
      src="icons/tapbar_user_white_deselected.svg"
      width="40"
      height="40"
      class="menu-profile"
    />
  </button>
</div>