
@keyframes floating1 {
  0% {
    transform: translate(100px,-100px);
  }
  50% {
    transform: translate(100px,1000px);
  }
  51% {
    transform: translate(10000px,-600px);
  }
  52% {
    transform: translate(0px,-600px);
  }
  100% {
    transform: translate(100px,-100px);
  }
}

@keyframes floating2 {
  0% {
    transform: translate(-100px,-200px);
  }
  50% {
    transform: translate(-100px,1000px);
  }
  51% {
    transform: translate(-10000px,-600px);
  }
  52% {
    transform: translate(0px,-600px);
  }
  100% {
    transform: translate(-100px,-200px);
  }
}


@keyframes floating3 {
  0% {
    transform: translate(0px,-300px);
  }
  50% {
    transform: translate(0px,1000px);
  }
  51% {
    transform: translate(-10000px,-600px);
  }
  52% {
    transform: translate(0px,-600px);
  }
  100% {
    transform: translate(0px,-300px);
  }
}
