@keyframes shrink-profile-img {
  0% {
    height: 100%;
  }
  100% {
    height: 45%;
  }
}
@keyframes expand-profile-img {
  0% {
    height: 45%;
  }
  100% {
    height: 100%;
  }
}

@keyframes shrink-profile-bottom-panel {
  0% {
    height: 20%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}