// Base project colors
$dark-blue: #008eee;
$light-blue: #00c2ff;
$light-pink: #db00ff;
$dark-purple: #a000e3;
$white: #ffffff;
$black: #404040;
$light-grey: #d1d1d1;
$red: #f25f5c;
$navy-blue: #0050b2;
