$border-radius-default: 35px;

$px_base: 6px;
$px_small: $px_base * 2;
$px_medium: $px_base * 4;
$px_big: $px_base * 6;


$field-default-height: $px_base * 8;
$field-default-width: $field-default-height * 6;

$field-valid-color: radial-gradient(
    112.16% 418.59% at 0% 0%,
     rgba(226, 246, 255, 0.4) 0%,
      rgba(0, 165, 245, 0) 100%);

$field-novalid-color: radial-gradient(
    112.16% 418.59% at 0% 0%,
    rgba(226, 246, 255, 0.4) 0%,
    rgba(255, 0, 0, 0.289583) 25.52%,
    rgba(0, 165, 245, 0) 100%
);

$field-edit-valid-color: radial-gradient(
    112.16% 418.59% at 0% 0%,
     rgba(17, 0, 255, 0.274) 0%,
      rgba(0, 165, 245, 0) 100%
);

$field-edit-novalid-color: radial-gradient(
    112.16% 418.59% at 0% 0%,
     rgba(255, 0, 34, 0.274) 0%,
      rgba(0, 165, 245, 0) 100%
);